@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
  }
}

@layer components {
  .static-nav {
    @apply bg-transparent;
  }

  .scrolled {
    @apply bg-white;
  }

  .nav-opt {
    @apply inline-block md:w-28 w-72 md:h-10 hover:bg-nav-bg hover:opacity-70 bg-contain bg-center bg-no-repeat text-7xl font-bold md:font-normal md:text-2xl hover:text-white py-8 md:px-6 md:py-1;
  }

  .nav-active {
    @apply bg-nav-bg text-white font-bold;
  }

  .nav-service {
    @apply md:w-[8.438rem] md:bg-[length:8.438rem_2.5rem] bg-contain w-96;
  }

  .nav-contact {
    @apply md:w-36 md:bg-[length:9rem_2.5rem] bg-contain w-96;
  }

  .services-bg {
    @apply bg-serv-bg bg-no-repeat bg-scroll bg-cover bg-center;
  }
}

.btn-more {
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #fff 35%, transparent 35%) 100% 1;
}

.btn-more:hover {
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #fff 100%, transparent 100%) 100% 1;
}

.card-slider {
  overscroll-behavior-inline: contain;
}

.card-slide > img {
  inline-size: 100%;
}

.card-snaps {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.card-snaps > * {
  scroll-snap-align: start;
}
